.product-card {
    transition: transform 0.2s ease;
    /*border-radius: 12px;*/
    cursor: pointer;
}

.product-card:hover {
    transform: scale(1.03);
    /*transform: translateY(-5px);*/
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.product-img {
    height: 180px;
    object-fit: contain;
    padding: 10px;
    background-color: #fff;
    transition: transform 0.3s ease;
}

/* Para que el aside no crezca demasiado */
/*.filter-aside {
    max-width: 260px;
}*/

.product-card a.stretched-link {
    z-index: 1;
}