
/* =========================
   🔹 HEADER (MOBILE FIRST) (viejo)
========================= */

/* 📱 BASE (MÓVIL) */
.main-header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

/* FILAS */
.header-row-1,
.header-row-2 {
    display: flex;
    align-items: center;
}

/* FILA 1 */
.header-row-1 {
    flex-wrap: wrap;
    justify-content: space-between;
}

/* SEARCH */
.header-search {
    width: 100%;
    order: 3;
    margin-top: 10px;
}

.header-search input {
    min-width: 120px;
}

.header-search label {
    white-space: wrap;
}

/* FILA 2 */
.header-row-2 {
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}

/* =========================
   💻 DESKTOP (>= 740px)
========================= */
@media (min-width: 740px) {

    .main-header {
        flex-wrap: nowrap;
    }

    .header-row-1 {
        /*width: auto;
        flex-wrap: nowrap;*/
        flex: 1;
        min-width: 0; /* Evita romper layout */
    }

    .header-search {
        width: auto;
        order: 0;
        margin-top: 0;
        flex: 1;
        /*max-width: 500px;*/
        min-width: 200px;
    }

    .header-row-2 {
        /*width: auto;
        margin-top: 0;
        flex-wrap: nowrap;
        justify-content: flex-end;*/
        flex-shrink: 0;
    }

    .header-search label {
        white-space: nowrap;
    }
    
    /* Ocultar dropdowns */
    /*.nav-item.dropdown > .dropdown-menu {
        visibility: hidden;
        opacity: 0;
        pointer-events: none; /* Desactivar interacción /
    }*/
}