/* Header anterior:*/
.main-header {
    /*border-bottom: 1px solid #eee;*/
    margin: 10px;
}

/*.header-search {
    width: 100%;
}*/

.header-search input {
    min-width: 150px;
}

.header-search label {
    white-space: nowrap;
}

.header-search {
    /*display: flex;
    flex-wrap: wrap;*/
    gap: 8px;
}




